* {
margin: 0;
    box-sizing: border-box;
}

/** menu styles **/

.menu {
    position: fixed;
    width: 25%;
    height: 100vh;
    /**background-color: #ff8400;**/
    background-color: #ee8d31;
    background-image: url("https://cdn.pixabay.com/photo/2015/09/15/18/17/paw-print-941499_960_720.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 1px 0px 10px 0px;
}

.menu ul {
    list-style-type: none;
    padding: 10px;
}

.menu li {
    margin-bottom: 15px;
}

.list-link {
    color: black;
    text-decoration: none;
}

.list-link:hover {
    text-decoration: underline;
    color: #fffffe;
}

/** Menu Styles **/

.content {
    margin-left: 25%;
    padding: 10px;
}

p {
    text-align: justify;
}

span {
    font-weight: bold;
}
  
article {
    margin-bottom: 15px;
}

img {
    margin-top: 15px;
}
